h1 {
  font-weight: bold;
}

h2 {
  display: inline;
}

.btn.btn-top {
  float: right;
  margin: 0 5px;
}

.table-calculate, .table-create {
  margin: 15px 0;
}

.table-create >.form-control, .table-create >.btn-block {
  margin: 8px 5px;
}

body {
  background-color: #efefef;
}

.container {
  padding: 20px 50px;
  margin-top: 2%;
  background-color: white;
  backgroun-size: cover;
  border: 1px lightgrey solid;
  min-height: 620px;
}