<!DOCTYPE html>
<html lang="en" ng-app="ShoppingCartApp">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="bower_components/angular/angular.js"></script>
    <script src="js/application.js"></script>

    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
  </head>
  <body ng-controller="ShoppingCartController">
    <div id="main" class="container-fluid">
      <h1>Shopping Cart</h1>

      <section id="items-list" class="container-fluid">
        <div class="row" ng-repeat="item in items">
          <div class="col-xs-4">{{item.name}}</div>
          <div class="col-xs-3">${{item.price.toFixed(2)}}</div>
          <div class="col-xs-3">
            <label>QTY</label>
            <input class="quantity" value="0" ng-model="item.quantity" ng-change="updateQuantity($index)">
            <button type="button" class="btn btn-default" ng-click="removeItem($index)">Cancel</button>
          </div>
          <div class="col-xs-2">${{item.subtotal.toFixed(2)}}</div>
        </div>
      </section>
      <section id="new-item">
        <div class="row">
          <div class="col-xs-4">
            <label>Item</label>
            <input type="text" ng-model="newItem.name">
          </div>
          <div class="col-xs-3">
            <label>Price</label>
            <input type="text" ng-model="newItem.price">
          </div>
          <div class="col-xs-3">
            <button type="button" class="btn btn-primary" ng-click="createItem()">Create</button>
          </div>
        </div>
      </section>
      <section>
        <div class="row">
          <div class="col-xs-3 col-xs-offset-9">
            <button type="button" class="btn btn-success pull-right" ng-click="calculateTotal()">
              Calculate Prices
            </button>
          </div>
        </div>
        <h1>Total Price: ${{totalPrice.toFixed(2)}}</h1>
      </section>
    </div>
  </body>
</html>
